# Compilation of Ledger's app
src/glyphs.c
src/glyphs.h
bin/
build/
debug/
dep/
deps/
ledger/
obj/

# tests and code coverage
tests/functional/snapshots-tmp/
tests/fuzzing/build/
tests/fuzzing/corpus/
tests/fuzzing/coverage/
tests/fuzzing/profdata/
tests/unit-tests/build/
tests/unit-tests/coverage/
tests/unit-tests/coverage.info
cppcheck/
!tools/cppcheck
cppcheck_report/
compile_commands.json
cppcheck_output.xml

# Editors
.idea/

# Python
*.pyc[cod]
*.egg
__pycache__/
.pytest_cache/
*.egg-info/
.eggs/
.python-version

# Doxygen
doc/html
doc/latex

.vscode/settings.json
.trunk
.DS_Store
